*,
*::after,
*::before {
  /* 清除默认值 */
  margin: 0;
  padding: 0;
  box-sizing: inherit;  /*通过继承的方式，防止第三方组件的该属性被替换*/
}
body {
    /* 下面这些元素会被子元素默认继承 */
    font-family: "Lato" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 30px;
    box-sizing: border-box; /* 意味着width、height将会包括padding和border在内*/
}

.header {
    height: 95vh; /*视口的95%*/
    /* 背景图片与其上的线性渐变效果 */
    background-image: linear-gradient(to right bottom, #7ed56fba, #28b485ba),
      url("../img/hero.jpg");
    background-size: cover;
    background-position: top; /*视口变化时恒定的锚点*/
    position: relative; /*用于子元素定位*/
    /* 切割元素 */
    /* clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);  */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  height: 35px;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* 相对自身移动 */
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.header-primary--main {
  letter-spacing: 35px;
  font-weight: 400;
  font-size: 60px;
  display: block;

  /* 动画 */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.header-primary--sub {
  letter-spacing: 17.5px;
  font-size: 20px;
  display: block;
  /* 动画 */
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 为访问和已访问 */
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 100px;
    /* 让过渡动画更自然 */
    transition: all .2s;
    /* 用于让after元素定位 */
    position: relative;
}


/* 悬停 */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
/* 触发 */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    /* content是after必须有的元素 */
    content: "";
    /* 其余样式保持和目标元素一致 */
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    /* 置于底层 */
    z-index: -1;
    /* transition放在初始状态里 */
    transition: all .4s;
}
.btn--white::after {
    background-color: #fff;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: btnInBottom .5s ease-in .75s;
    /* 配合delay使用，让元素在动画开始之前，就使用0%定义的样式 */
    animation-fill-mode: backwards;
}
@keyframes btnInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

}